.text-presentation
  margin-left: 200px
  width: 40%
  color: $dark-gray
  position: relative
  top: -50px

  h1
    padding-left: 60px

  h1::before
    content: ""
    position: absolute
    left: 0
    top: 62px
    width: 35px
    height: 4px
    border-radius: 10px
    background: $main-color

  p
    margin-top: -22px



  font
    display: flex
