.D-gray
  color: #211D14

.main-color
  color:#183966

.dark-blue
  color: #162130

.light-blue
  color: #AAC3E6

.glaucous
  color: #5174A6

.drab
  color: #664c18

.lion
  color: #BBA06B

.platine
  background-color: #d1d8e2
